@import url('https://fonts.googleapis.com/css?family=Font+Awesome%205%20Pro:200|Poppins:700,500|Open+Sans:400,700,600|Nunito:400');


/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  animation-delay     : 0s;
}
@keyframes anima-reveal {
  from {
    opacity             : 0;
  }
  to {
    opacity             : 1;
  }
}
* {
  box-sizing          : border-box;
}
a {
  text-decoration     : none;
}
.anima-flexbox-container a {
  line-height         : 0;
}
.anima-component-wrapper,
.anima-component-wrapper * {
  pointer-events      : none;
}
.anima-component-wrapper a *,
.anima-component-wrapper a,
.anima-component-wrapper input,
.anima-component-wrapper video,
.anima-component-wrapper iframe,
.anima-listeners-active,
.anima-listeners-active * {
  pointer-events      : auto;
}
.anima-hidden,
.anima-hidden * {
  visibility          : hidden;
  pointer-events      : none;
}
.anima-smart-layers-pointers,
.anima-smart-layers-pointers * {
  pointer-events      : auto;
  visibility          : visible;
}
.anima-component-wrapper.anima-not-ready,
.anima-component-wrapper.anima-not-ready * {
  visibility          : hidden !important;
}
.anima-listeners-active-click,
.anima-listeners-active-click * {
  cursor              : pointer;
}
.anima-component-wrapper a,
.anima-screen a {
  text-decoration     : none;
}
.anima-flexbox-container a {
  line-height         : 0;
}
.anima-full-width-a {
  width               : 100%;
}
.anima-full-height-a {
  height              : 100%;
}
.anima-screen textarea:focus,
.anima-screen input:focus {
  outline             : none;
}
.anima-screen div {
  -webkit-text-size-adjust: none;
}
.anima-container-center-vertical,
.anima-container-center-horizontal {
  pointer-events      : none;
  display             : flex;
  flex-direction      : row;
  padding             : 0;
  margin              : 0;
}
.anima-container-center-vertical {
  align-items         : center;
  height              : 100%;
}
.anima-container-center-horizontal {
  justify-content     : center;
  width               : 100%;
}
.anima-container-center-vertical > *,
.anima-container-center-horizontal > * {
  pointer-events      : auto;
  flex-shrink         : 0;
}
.anima-component-wrapper,
.anima-screen {
  overflow-wrap       : break-word;
  word-wrap           : break-word;
  word-break          : break-all;
  word-break          : break-word;
}
.anima-auto-animated div {
  opacity             : 0;
  position            : absolute;
  --anima-z-index: -1;
}
.anima-auto-animated .anima-container-center-vertical,
.anima-auto-animated .anima-container-center-horizontal {
  opacity             : 1;
}
/* ANIMA screen - formularioconfirmado */
.font-class-1 {
  font-family         : Open Sans, Helvetica, Arial, serif;
  font-weight         : 400;
}
.font-class-2 {
  font-family         : "Open Sans", Helvetica, Arial, serif;
}
.font-class-3 {
  font-family         : Nunito, Helvetica, Arial, serif;
  font-weight         : 400;
}
.font-class-4 {
  font-family         : Open Sans, Helvetica, Arial, serif;
  font-weight         : 700;
}
.font-class-5 {
  font-family         : Poppins, Helvetica, Arial, serif;
  font-weight         : 700;
}
.font-class-6 {
  color               : var(--auto-palette-color-1);
  font-family         : Open Sans, Helvetica, Arial, serif;
  font-weight         : 700;
}
.font-class-7 {
  font-family         : Font Awesome 5 Pro, Helvetica, Arial, serif;
  font-size           : 20.0px;
  font-weight         : 200;
  line-height         : 20.0px;
}
.font-class-8 {
  color               : rgba(255,255,255,0);
  font-family         : "Open Sans", Helvetica, Arial, serif;
  font-size           : 14.0px;
  letter-spacing      : 0.20px;
}
.font-class-9 {
  color               : var(--auto-palette-color-3);
  font-family         : Poppins, Helvetica, Arial, serif;
  font-size           : 16.0px;
  font-weight         : 500;
  letter-spacing      : 0.50px;
}
:root {
  --auto-palette-color-1: rgba(0,0,0,1.0);
  --auto-palette-color-2: rgba(0,0,0,0.870000004768);
  --auto-palette-color-3: rgba(255,255,255,1.0);
  --auto-palette-color-4: rgba(0,0,0,0.670000016689);
  --auto-palette-color-5: rgba(255,255,255,0.870000004768);
  --auto-palette-color-6: rgba(255,255,255,0.670000016689);
}
.formularioconfirmado .overlap-group-Y7zamN {
  background-color    : rgba(255,255,255,0);
  height              : 256px;
  left                : 554px;
  position            : absolute;
  top                 : 186px;
  width               : 199px;
}
.formularioconfirmado .button-6K8feB {
  background-color    : rgba(255,255,255,0);
  height              : auto;
  left                : 572px;
  position            : absolute;
  text-align          : center;
  top                 : 1023px;
  width               : 160px;
}
.formularioconfirmado .subscribe-to-our-new-NbxE9c {
  background-color    : rgba(255,255,255,0);
  color               : var(--auto-palette-color-3);
  font-size           : 22.0px;
  height              : auto;
  left                : 193px;
  line-height         : 33.0px;
  opacity             : 0.7;
  position            : absolute;
  text-align          : left;
  top                 : 1018px;
  width               : auto;
}
.formularioconfirmado .envelope-FX1mNU {
  background-color    : rgba(255,255,255,0);
  color               : var(--auto-palette-color-3);
  height              : auto;
  left                : 152px;
  position            : absolute;
  text-align          : left;
  top                 : 1026px;
  width               : auto;
}
.formularioconfirmado .rectangle-pwJWlx {
  background-color    : var(--auto-palette-color-3);
  height              : 2px;
  left                : 152px;
  position            : absolute;
  top                 : 1068px;
  width               : 390px;
}
.formularioconfirmado .amazing-works-t4iFqh {
  background-color    : rgba(0,0,0,0);
  color               : var(--auto-palette-color-2);
  font-size           : 52.0px;
  height              : auto;
  left                : 150px;
  line-height         : 65.0px;
  position            : absolute;
  text-align          : left;
  top                 : 170px;
  width               : 1142px;
}
.formularioconfirmado .projects-that-have-b-FP4FXO {
  background-color    : rgba(0,0,0,0);
  color               : var(--auto-palette-color-4);
  font-size           : 20.0px;
  height              : auto;
  left                : 150px;
  position            : absolute;
  text-align          : left;
  top                 : 250px;
  width               : 1142px;
}
.formularioconfirmado .subscribe-to-our-new-70xCkF {
  background-color    : rgba(0,0,0,0);
  border              : 0;
  color               : var(--auto-palette-color-2);
  font-size           : 22.0px;
  height              : 33px;
  left                : 149px;
  line-height         : 33.0px;
  padding             : 0;
  position            : absolute;
  resize              : none;
  text-align          : left;
  top                 : 519px;
  width               : 462px;
}
.formularioconfirmado .subscribe-to-our-new-70xCkF::placeholder {
  color               : rgba(0,0,0,0.522000002861);
}
.formularioconfirmado .subscribe-to-our-new-kDFHsm {
  background-color    : rgba(0,0,0,0);
  border              : 0;
  color               : var(--auto-palette-color-2);
  font-size           : 22.0px;
  height              : 33px;
  left                : 149px;
  line-height         : 33.0px;
  padding             : 0;
  position            : absolute;
  resize              : none;
  text-align          : left;
  top                 : 621px;
  width               : 462px;
}
.formularioconfirmado .subscribe-to-our-new-kDFHsm::placeholder {
  color               : rgba(0,0,0,0.522000002861);
}
.formularioconfirmado .subscribe-to-our-new-NAjKfE {
  background-color    : rgba(0,0,0,0);
  border              : 0;
  color               : var(--auto-palette-color-2);
  font-size           : 22.0px;
  height              : 33px;
  left                : 149px;
  line-height         : 33.0px;
  padding             : 0;
  position            : absolute;
  resize              : none;
  text-align          : left;
  top                 : 723px;
  width               : 462px;
}
.formularioconfirmado .subscribe-to-our-new-NAjKfE::placeholder {
  color               : rgba(0,0,0,0.522000002861);
}
.formularioconfirmado .rectangle-9pCJ9o {
  background-color    : var(--auto-palette-color-2);
  height              : 2px;
  left                : 150px;
  position            : absolute;
  top                 : 570px;
  width               : 460px;
}
.formularioconfirmado .rectangle-CY0yGy {
  background-color    : var(--auto-palette-color-2);
  height              : 2px;
  left                : 150px;
  position            : absolute;
  top                 : 672px;
  width               : 460px;
}
.formularioconfirmado .rectangle-xOfRUr {
  background-color    : var(--auto-palette-color-2);
  height              : 2px;
  left                : 150px;
  position            : absolute;
  top                 : 774px;
  width               : 460px;
}
.formularioconfirmado .bg-seBfTU {
  background-color    : var(--auto-palette-color-1);
  border-radius       : 40.0px;
  cursor              : pointer;
  height              : 50px;
  left                : 150px;
  position            : absolute;
  top                 : 812px;
  width               : 260px;
}
.formularioconfirmado .button-GKxqsV {
  background-color    : rgba(255,255,255,0);
  height              : 13px;
  left                : 256px;
  position            : absolute;
  top                 : 830px;
  width               : 50px;
}
.formularioconfirmado .bg-QOBEvQ {
  background-color    : var(--auto-palette-color-3);
  height              : 120px;
  left                : -240px;
  position            : absolute;
  top                 : 0px;
  width               : 1920px;
}
.formularioconfirmado .logo-afiKGJ {
  background-color    : rgba(255,255,255,0);
  height              : 60px;
  left                : 150px;
  overflow            : hidden;
  position            : absolute;
  top                 : 30px;
  width               : 183px;
}
.formularioconfirmado .vector-ZrB35Y {
  background-color    : rgba(0,0,0,0);
  height              : 54.17%;
  left                : 39.85%;
  position            : absolute;
  top                 : 29.00%;
  width               : 12.30%;
}
.formularioconfirmado .vector-Q7LWbx {
  background-color    : rgba(0,0,0,0);
  height              : 42.50%;
  left                : 54.86%;
  position            : absolute;
  top                 : 40.73%;
  width               : 8.74%;
}
.formularioconfirmado .vector-1GD8Cp {
  background-color    : rgba(0,0,0,0);
  height              : 43.33%;
  left                : 64.98%;
  position            : absolute;
  top                 : 39.93%;
  width               : 13.11%;
}
.formularioconfirmado .vector-BGNHYM {
  background-color    : rgba(0,0,0,0);
  height              : 60.00%;
  left                : 80.80%;
  position            : absolute;
  top                 : 40.23%;
  width               : 12.57%;
}
.formularioconfirmado .vector-x2mYqO {
  background-color    : rgba(0,0,0,0);
  height              : 57.50%;
  left                : 95.99%;
  position            : absolute;
  top                 : 25.62%;
  width               : 4.10%;
}
.formularioconfirmado .vector-9Hg6wP {
  background-color    : rgba(5,5,5,0);
  height              : 53.33%;
  left                : 2.11%;
  position            : absolute;
  top                 : 29.82%;
  width               : 26.50%;
}
.formularioconfirmado .vector-METvYJ {
  background-color    : rgba(5,5,5,0);
  height              : 41.67%;
  left                : -0.21%;
  position            : absolute;
  top                 : 0px;
  width               : 31.15%;
}
.formularioconfirmado .overlay-I7ZxAT {
  background-color    : rgba(0,0,0,0.800000011921);
  height              : 1420px;
  left                : -240px;
  position            : absolute;
  top                 : 0px;
  width               : 1920px;
}
.formularioconfirmado .bg-UEjSE3 {
  background-color    : var(--auto-palette-color-3);
  border-radius       : 36.0px;
  height              : 590px;
  left                : 438px;
  position            : absolute;
  top                 : 120px;
  width               : 564px;
}
.formularioconfirmado .button-fSMId1 {
  align-items         : flex-start;
  background-color    : rgba(255,255,255,0);
  box-sizing          : border-box;
  cursor              : pointer;
  display             : inline-flex;
  flex-direction      : row;
  height              : 50px;
  justify-content     : flex-start;
  left                : 593px;
  position            : absolute;
  top                 : 610px;
  width               : auto;
}
.formularioconfirmado .button-normal-gradient-violet-default-z2pD3T {
  background-color    : rgba(255,255,255,0);
  flex-shrink         : 0;
  height              : 50px;
  position            : relative;
  width               : 260px;
}
.formularioconfirmado .bg-0W5MmM {
  background-color    : var(--auto-palette-color-1);
  border-radius       : 40.0px;
  height              : 50px;
  left                : 0px;
  position            : absolute;
  top                 : 0px;
  width               : 260px;
}
.formularioconfirmado .button-UJocQ2 {
  background-color    : rgba(255,255,255,0);
  color               : var(--auto-palette-color-3);
  font-family         : Open Sans, Helvetica, Arial, serif;
  font-size           : 16.0px;
  font-weight         : 600;
  height              : auto;
  left                : 69px;
  letter-spacing      : 0.50px;
  position            : absolute;
  text-align          : center;
  top                 : 13px;
  width               : 124px;
}
.formularioconfirmado .vector-ZTuCFs {
  background-color    : rgba(0,0,0,0);
  height              : 248px;
  left                : 572px;
  pointer-events      : auto;
  position            : absolute;
  top                 : 178px;
  transition          : all 0.2s ease;
  width               : 296px;
}
.formularioconfirmado .vector-ZTuCFs:hover {
  transform           : translate(0, -5px);
}
.formularioconfirmado .group-Ho2qZs {
  background-color    : rgba(255,255,255,0);
  height              : 166px;
  left                : 0px;
  position            : absolute;
  top                 : 0px;
  width               : 122px;
}
.formularioconfirmado .group-xWfRCW {
  background-color    : rgba(255,255,255,0);
  height              : 185px;
  left                : 770px;
  position            : absolute;
  top                 : 170px;
  width               : 116px;
}
.formularioconfirmado .group-IQSgYE {
  background-color    : rgba(255,255,255,0);
  height              : 206px;
  left                : 108px;
  position            : absolute;
  top                 : 51px;
  width               : 91px;
}
.formularioconfirmado .interesse-confirmado-ZoOp5C {
  background-color    : rgba(0,0,0,0);
  color               : var(--auto-palette-color-2);
  font-size           : 40.0px;
  height              : auto;
  left                : 470px;
  line-height         : 56.0px;
  position            : absolute;
  text-align          : center;
  top                 : 470px;
  width               : 502px;
}
.formularioconfirmado .enviaremos-um-alerta-assim-que-estivermos-prontos-para-captar-investimentos-ZsIE60 {
  background-color    : rgba(0,0,0,0);
  color               : var(--auto-palette-color-4);
  font-size           : 18.0px;
  height              : auto;
  left                : 501px;
  position            : absolute;
  text-align          : center;
  top                 : 530px;
  width               : 441px;
}
.formularioconfirmado {
  background-color    : var(--auto-palette-color-3);
  border-color        : rgba(255,255,255,0);
  border-style        : solid;
  border-width        : 1.0px;
  height              : 100vh;
  margin              : 0px;
  min-height          : 1080.0px;
  min-width           : 1440.0px;
  overflow            : hidden;
  position            : relative;
  width               : 100%;
}
.formularioconfirmado .bg-U9Ly62 {
  background-color    : var(--auto-palette-color-1);
  height              : 490px;
  left                : -240px;
  position            : absolute;
  top                 : 930px;
  width               : 1920px;
}
.formularioconfirmado .c-2019-elipso-sketch-ldvZOV {
  background-color    : rgba(255,255,255,0);
  height              : auto;
  left                : 152px;
  position            : absolute;
  text-align          : left;
  top                 : 1321px;
  width               : auto;
}
.formularioconfirmado .span1-ldvZOV {
  color               : rgba(255,255,255,1.0);
  font-family         : Open Sans, Helvetica, Arial, serif;
  font-size           : 14.0px;
  font-weight         : 400;
  letter-spacing      : 0.20px;
}
.formularioconfirmado .span2-ldvZOV {
  color               : rgba(255,255,255,0.870000004768);
  font-family         : Open Sans, Helvetica, Arial, serif;
  font-size           : 14.0px;
  font-weight         : 700;
  letter-spacing      : 0.20px;
}
.formularioconfirmado .contact-info-k50pvg {
  background-color    : rgba(255,255,255,0);
  color               : var(--auto-palette-color-5);
  font-size           : 20.0px;
  height              : auto;
  left                : 930px;
  line-height         : 30.0px;
  position            : absolute;
  text-align          : left;
  top                 : 1145px;
  width               : auto;
}
.formularioconfirmado .a44-141-552-3000-QChuaQ {
  background-color    : rgba(255,255,255,0);
  color               : var(--auto-palette-color-6);
  font-size           : 18.0px;
  height              : auto;
  left                : 971px;
  line-height         : 27.0px;
  position            : absolute;
  text-align          : left;
  top                 : 1210px;
  width               : 230px;
}
.formularioconfirmado .envelope-JNCgPf {
  background-color    : rgba(255,255,255,0);
  color               : var(--auto-palette-color-5);
  height              : auto;
  left                : 931px;
  position            : absolute;
  text-align          : left;
  top                 : 1214px;
  transform           : rotate(90deg);
  width               : auto;
}
.formularioconfirmado .info-merkulov-design-ddDUhA {
  background-color    : rgba(255,255,255,0);
  color               : var(--auto-palette-color-6);
  font-size           : 18.0px;
  height              : auto;
  left                : 971px;
  line-height         : 27.0px;
  position            : absolute;
  text-align          : left;
  top                 : 1247px;
  width               : 230px;
}
.formularioconfirmado .envelope-viLI95 {
  background-color    : rgba(255,255,255,0);
  color               : var(--auto-palette-color-5);
  height              : auto;
  left                : 931px;
  position            : absolute;
  text-align          : left;
  top                 : 1251px;
  width               : auto;
}
.formularioconfirmado .frame-MJx6nZ {
  background-color    : rgba(255,255,255,0);
  height              : 45px;
  left                : 152px;
  overflow            : hidden;
  position            : absolute;
  top                 : 1130px;
  width               : 138px;
}
.formularioconfirmado .vector-VURSQX {
  background-color    : rgba(255,255,255,0);
  height              : 54.44%;
  left                : 39.84%;
  position            : absolute;
  top                 : 28.86%;
  width               : 12.32%;
}
.formularioconfirmado .vector-4e47Dj {
  background-color    : rgba(255,255,255,0);
  height              : 42.22%;
  left                : 54.71%;
  position            : absolute;
  top                 : 40.86%;
  width               : 9.06%;
}
.formularioconfirmado .vector-te1yv5 {
  background-color    : rgba(255,255,255,0);
  height              : 43.33%;
  left                : 64.83%;
  position            : absolute;
  top                 : 39.93%;
  width               : 13.41%;
}
.formularioconfirmado .vector-gTKpu5 {
  background-color    : rgba(255,255,255,0);
  height              : 60.00%;
  left                : 80.74%;
  position            : absolute;
  top                 : 40.23%;
  width               : 12.68%;
}
.formularioconfirmado .vector-OYo8NC {
  background-color    : rgba(255,255,255,0);
  height              : 57.78%;
  left                : 96.04%;
  position            : absolute;
  top                 : 25.48%;
  width               : 3.99%;
}
.formularioconfirmado .vector-U7h1bN {
  background-color    : rgba(255,255,255,0);
  height              : 53.33%;
  left                : 2.14%;
  position            : absolute;
  top                 : 29.82%;
  width               : 26.45%;
}
.formularioconfirmado .vector-CQh3sa {
  background-color    : rgba(255,255,255,0);
  height              : 42.22%;
  left                : -0.22%;
  position            : absolute;
  top                 : -0.36%;
  width               : 31.16%;
}
.formularioconfirmado .the-wise-man-therefo-yKOgiq {
  background-color    : rgba(255,255,255,0);
  color               : var(--auto-palette-color-3);
  font-size           : 18.0px;
  height              : auto;
  left                : 152px;
  line-height         : 27.0px;
  position            : absolute;
  text-align          : left;
  top                 : 1200px;
  width               : 656px;
}
.formularioconfirmado .bg-MTp8bP {
  background-color    : rgba(255,255,255,0);
  border-color        : var(--auto-palette-color-3);
  border-radius       : 40.0px;
  border-style        : solid;
  border-width        : 3.0px;
  height              : 53px;
  left                : 571px;
  position            : absolute;
  top                 : 1009px;
  width               : 161px;
}